<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar color="primary">
      <span>Menú</span>

      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <a routerLink="./listado" (click)="sidenav.toggle()" mat-list-item>
        <mat-icon matListItemIcon>label</mat-icon>
        <span>Listado de Héroes</span>
      </a>
      <a routerLink="./agregar" (click)="sidenav.toggle()" mat-list-item>
        <mat-icon matListItemIcon>add</mat-icon>
        <span>Añadir Héroe</span>
      </a>
      <a routerLink="./buscar" (click)="sidenav.toggle()" mat-list-item>
        <mat-icon matListItemIcon>search</mat-icon>
        <span>Buscar Héroes</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="spacer"></div>
    <button mat-button routerLink="/auth/login">Logout</button>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
