
<div class="alert alert-info" *ngIf="loading ; else divPais">
    Espere por favor....
</div>

<ng-template #divPais>
    <div class="row" *ngIf="country">
        <div class="col-12">
            <h2>Pais: <small>{{country.name}}</small> </h2>
        </div>
    </div>

    <div class="row" *ngIf="country">
        <div class="col-6">
            <h3>Bandera</h3>
            <img class="larg-flag" [src]="country.flag" [alt]="country.name">
        </div>
        <div class="col">
            <h3>Informacion</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Población:</strong> {{country.population | number}}
                </li>
                <li class="list-group-item">
                    <strong>Área:</strong> {{country.area| number}}
                </li>
                <li class="list-group-item">
                    <strong>Moneda:</strong> {{country.currencies[0].name }}
                </li>
            </ul>
        </div>
    </div>

</ng-template>
